EXT_PACKAGES_NAME[12]="shortcut-fe"
EXT_PACKAGES_PATH[12]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[12]="package"
EXT_PACKAGES_NAME[19]="nft-fullcone"
EXT_PACKAGES_PATH[19]=""
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[19]=""
EXT_PACKAGES_NAME[20]="luci-app-turboacc"
EXT_PACKAGES_PATH[20]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[20]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[20]=""
EXT_PACKAGES_NAME[22]="luci-app-argon-config"
EXT_PACKAGES_PATH[22]=""
EXT_PACKAGES_REPOSITORIE[22]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[22]=""
EXT_PACKAGES_NAME[26]="luci-theme-argon"
EXT_PACKAGES_PATH[26]=""
EXT_PACKAGES_REPOSITORIE[26]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[26]=""

