#
# Network
#
#
# Cloud Manager
#
# end of Cloud Manager
#
# Download Manager
#
CONFIG_PACKAGE_ariang=y
# end of Download Manager
#
# File Transfer
#

CONFIG_PACKAGE_curl=y

# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_xtables-nft=y
# end of Firewall
#
# IP Addresses and Names
#

#
# Printing
#
CONFIG_PACKAGE_p910nd=y
# end of Printing
#
# Routing and Redirection
#
CONFIG_PACKAGE_ip-full=y
# end of Routing and Redirection
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_brook=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_microsocks=y
# end of Web Servers/Proxies
#
